.post {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  background-color: white;
  border: 1px solid var(--reddit-grey);
}

.post .vote {
  width: 40px;
  background-color: var(--reddit-light-grey);
}

.post .content {
  padding: 10px;
  margin-left: 15px;
}

.post-title {
  padding-bottom: 10px;
  margin-left: 2px;
}

.post-author {
  margin-left: auto;
  margin-right: 5px;
  font-size: 12px;
  color: var(--reddit-blue);
  float: right;
  cursor: pointer;
  transition-duration: 0s;
}

.post-author:hover {
  text-decoration: underline;
}

.comments {
  margin-left: auto;
  margin-right: 5px;
  font-size: 15px;
  float: right;
  transition-duration: 0s;
}

.comments:hover {
  margin-left: auto;
  margin-right: 5px;
  font-size: 15px;
  float: right;
  color: var(--reddit-blue);
  text-decoration: underline;
  cursor: pointer;
}

.time {
  margin-left: 5px;
  font-style: italic;
}

.subseddit {
  margin-left: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
}

.post-content {
  margin-left: 5px;
}

.post-image {
  margin-left: 5px;
}

.comment-author {
  margin-left: 5px;
  font-size: 15px;
  color: var(--reddit-blue);
  cursor: pointer;
  transition-duration: 0s;
  display:inline-block;
}

.comment-author:hover {
  text-decoration: underline;
}

.comment-post {
  
  display: block;
  overflow: hidden;
  margin: 20px 0;
  background-color: white;
  border: 1px solid var(--reddit-grey);
}

.upvote-author {
  margin-left: 5px;
  margin-bottom: 2px;
  font-size: 15px;
  color: var(--reddit-blue);
  cursor: pointer;
  transition-duration: 0s;
  display:block;
}

.upvote-author:hover {
  text-decoration: underline;
}